@media only screen and (min-width: 1440px) and (max-width: 1919px) {

     body {
          margin: auto;
          padding: 0;
          background: #EAEAEA;
          font-family: 'VCR_OSD_MONO';
          width: 1253px;
          user-select: none;
     }
     
     /* Выранвивание по центру */
     .main {
          margin: auto;
     }
     
     /* Верхние индикаторы */
     .container_top {
          margin: 29px auto 0;
          width: auto;
          height: 92px;
          display: flex;
          flex-wrap: nowrap;
          gap: 0 2.344vw;
          justify-content: center;
     }
     .square {
          width: 92px;
          height: 92px;
          border-radius: 25px;
          display: inline-block;
          vertical-align: top;
          position: relative;
     }
     
     /* Индикаторы разминирования */
     #one ,#two, #three, #four, #five, #six, #seven, #eight, #nine, #ten{
          background-color: greenyellow;
     }
     
     /* Контейнер головоломок */
     .container_main {
          margin-top: 41px;
          width: auto;
          height: 826px;
          display: flex;
          flex-wrap: wrap;
          gap: 2.0vw;
          justify-content: center;
          align-content: flex-start;
     }
     
     /* Основы головоломок */
     .block{
          width: 219px;
          height: 219px;
          display: inline-block;
          vertical-align: top;
          position: relative;
          background-color: #FF833D;
          border-radius: 5px;
          outline: 3px solid #8247FF;
          outline-offset: -3px;
     }
     




     /* Экран и индикатор первой головоломки */
     .display_anagram{
          margin: 23px auto;
          width: 190px;
          height: 60px;
          display: flex;
          gap: 0 25px;
          font-size: 16px;
     }
     .indicator_anagram {
          border-radius: 100%;
          background-color: red;
          width: 22px;
          height: 22px;
     }
     .indicator_anagram.correct {
          border-radius: 100%;
          background-color: greenyellow;
          width: 22px;
          height: 22px;
     }
     .display_anagram_right {
          width: 142px;
          height: 60px;
          display: flex;
          flex-direction: column;
          gap: 5px;
     }
     .display_anagram_top{
          width: 142px;
          height: 26px;
          display: flex;
          border-radius: 5px;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
     }
     .display_anagram_bottom{
          width: 142px;
          height: 26px;
          display: flex;
          border-radius: 5px;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
     }
     
     /* Кнопки первой головоломки */
     .buttons_anagram {
          margin: 28px auto;
          width: 186px;
          height: 89px;
          display: flex;
          flex-wrap: wrap;
          gap: 8px 8px;
          font-size: 20px;
     }
     .button_anagram, .delete_anagram, .check_anagram {
          width: 40px;
          height: 40px;
          border-radius: 5px;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
     }
     
     



     /* Алфавит */
     .display_alphabet{
          margin: 23px auto 0;
          width: 200px;
          height: 22px;
          display: flex;
          justify-content: flex-end;
          gap: 0 25px;
     }
     .indicator_alphabet {
          border-radius: 100%;
          background-color: red;
          width: 22px;
          height: 22px;
     }
     .indicator_alphabet.lit-green {
          border-radius: 100%;
          background-color: greenyellow;
          width: 22px;
          height: 22px;
     }
     .indicator_alphabet.lit-red {
          border-radius: 100%;
          background-color: red;
          width: 22px;
          height: 22px;
     }
     .buttons_alphabet {
          margin: 15px 23px;
          width: 140px;
          height: 140px;
          display: flex;
          flex-wrap: wrap;
          gap: 6px 6px;
          font-size: 20px;
     }
     
     .button_alphabet {
          width: 66px;
          height: 66px;
          border-radius: 5px;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
     }
     .button_alphabet_indicator{
          width: 16px;
          height: 3px;
          margin-top: 5px;
          border-radius: 5px;
          background-color: gray;
     }
     .button_alphabet_indicator.lit-green{
          width: 16px;
          height: 3px;
          margin-top: 5px;
          border-radius: 5px;
          background-color: greenyellow;
     }
     .button_alphabet_indicator.lit-red{
          width: 16px;
          height: 3px;
          margin-top: 5px;
          border-radius: 5px;
          background-color: red;
     }
     
     
     
     /* Шифр Цезаря */
     .display_caesar{
          margin: 12px auto 0;
          width: 192px;
          height: 47px;
          display: flex;
          justify-content: flex-end;
          gap: 0 21px;
          flex-direction: row-reverse;
          align-items: center;
     }
     .indicator_caesar {
          border-radius: 100%;
          background-color: red;
          width: 22px;
          height: 22px;
     }
     .display_caesar_right{
          width: 148px;
          height: 47px;
          display: flex;
          border-radius: 5px;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
     }
     
     
     .buttons_caesar {
          margin: 15px auto;
          width: 161px;
          height: 120px;
          display: flex;
          flex-wrap: wrap;
          gap: 7px 7px;
          font-size: 18px;
     }
     .button_caesar{
          width: 34px;
          height: 34px;
          border-radius: 5px;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .2s ease-in-out;
     }
     .button_caesar.clicked{
          transform: scale(.9);
          width: 34px;
          height: 34px;
          border-radius: 5px;
          background-color: #743cec;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .2s ease-in-out;
     }
     
     
     
     
     
     /* Шахматы */
     .display_chess{
          margin: 23px auto 0;
          width: 187px;
          height: 76px;
          display: flex;
          justify-content: flex-end;
          gap: 0px 29px;
          flex-direction: row-reverse;
          align-items: flex-start;
     }
     .indicator_chess {
          border-radius: 100%;
          background-color: greenyellow;
          width: 22px;
          height: 22px;
     }
     .display_chess_right{
          width: 137px;
          height: 63px;
          display: flex;
          border-radius: 5px;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
     }
     
     
     
     .buttons_chess {
          margin: 37px auto 0;
          width: 193px;
          height: 48px;
          display: flex;
          flex-wrap: wrap;
          gap: 15px 15px;
          font-size: 16px;
     }
     .button_chess{
          width: 19px;
          height: 19px;
          border-radius: 5px;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
     }
     
     
     
     .indicators_chess{
          margin: 16px auto;
          width: 181px;
          height: 6px;
          display: flex;
          flex-wrap: wrap;
          gap: 0 29px;
     }
     .indicator_small_chess{
          border-radius: 100%;
          background-color: greenyellow;
          width: 6px;
          height: 6px;
     }
     
     
     

     /* Color */

     .display_color{
          margin: 23px 28px 0;
          width: 176px;
          height: 57px;
          display: flex;
          justify-content: flex-end;
          gap: 0px 34px;
          flex-direction: row-reverse;
          align-items: flex-start;
     }
     .indicator_color {
          border-radius: 100%;
          background-color: red;
          width: 22px;
          height: 22px;
     }
     .display_color_right{
          width: 121px;
          height: 52px;
          display: flex;
          border-radius: 5px;
          background-color: black;
          color: red;
          justify-content: center;
          align-items: center;
          font-size: 16px;
     }
     
     
     .buttons_color {
          margin: 10px auto 0;
          width: 201px;
          height: 98px;
          display: flex;
          flex-wrap: nowrap;
          gap: 0px 5px;
          font-size: 20px;
     }
     .button_color{
          width: 98px;
          height: 98px;
          border-radius: 5px;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .2s ease-in-out;
     }
     
     }
     .button_color.clicked{
          transform: scale(.9);
          width: 98px;
          height: 98px;
          border-radius: 5px;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .2s ease-in-out;
     }
     
     




     /* Lock */

     .display_lock{
          margin: 28px 42px 0;
          width: 162px;
          height: 133px;
          display: flex;
          justify-content: flex-end;
          gap: 0px 7px;
          flex-direction: row-reverse;
          align-items: flex-start;
     }
     .indicator_lock {
          border-radius: 100%;
          background-color: red;
          width: 22px;
          height: 22px;
     }
     
     .display_lock_right{
          width: 133px;
          height: 133px;
          display: flex;
          border-radius: 100%;
          background-color: #8247FF;
          justify-content: center;
          align-items: center;
     }
     .display_lock_right_center{
          width: 72px;
          height: 72px;
          display: flex;
          border-radius: 100%;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
          font-size: 38px;
     }
     
     
     
     
     .buttons_lock {
          margin: 12px auto 0;
          width: 198px;
          height: 32px;
          display: flex;
          flex-wrap: nowrap;
          gap: 0px 42px;
     }
     
     .buttons_lock_left {
          margin: 0px auto 0px;
          width: 73px;
          height: 32px;
          display: flex;
          flex-wrap: nowrap;
          gap: 0px 9px;
          font-size: 32px;
     }
     .button_lock{
          width: 32px;
          height: 32px;
          border-radius: 5px;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
     }
     .button_lock_right{
          width: 83px;
          height: 32px;
          border-radius: 5px;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
     }
     
     
     




     /* Незабудка */

     .buttons_forget{
          margin: 28px auto 0;
          width: 200px;
          height: 125px;
          display: flex;
          flex-wrap: nowrap;
          gap: 0px 0;
          font-size: 20px;
     }
     .buttons_forget_line{
          margin: -20px auto 0;
          width: 182px;
          height: 138px;
          display: flex;
          flex-wrap: wrap;
          gap: 6px 6px;
          align-items: flex-end;
     }
     .button_forget{
          width: 41px;
          height: 41px;
          border-radius: 5px;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
     }
     .display_forget {
          width: 36px;
          height: 36px;
          border-radius: 5px;
          background-color: black;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
     }
     .indicator_forget {
          border-radius: 100%;
          background-color: greenyellow;
          width: 22px;
          height: 22px;
     }
     
     
     
     
     .display_forget_right{
          margin: auto;
          width: 204px;
          height: 58px;
          display: flex;
          border-radius: 5px;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
          font-size: 42px;
     }
     
     
     
     







     .display_keyboard{
          margin: 28px auto 0;
          width: 185px;
          height: 22px;
          display: flex;
          justify-content: flex-end;
          gap: 0px 8px;
          align-items: flex-start;
     }
     .indicator_keyboard {
          border-radius: 100%;
          background-color: greenyellow;
          width: 22px;
          height: 22px;
     }
     
     .buttons_keyboard {
          margin: 12px 25px 0;
          width: 142px;
          height: 142px;
          display: flex;
          flex-wrap: wrap;
          gap: 4px 4px;
     }
     .button_keyboard{
          width: 68px;
          height: 68px;
          border-radius: 5px;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          align-content: center;
          flex-direction: column;
     }
     .button_keyboard_indicator{
          width: 16px;
          height: 3px;
          border-radius: 5px;
          background-color: greenyellow;
     }
     
     
     
     
     
     
     
     
     
     .display_letter{
          margin: 28px 87px 0;
          width: 120px;
          height: 39px;
          display: flex;
          justify-content: flex-end;
          gap: 0px 50px;
          flex-direction: row-reverse;
          align-items: flex-start;
     }
     .display_letter_right{
          margin: -16px auto;
          width: 48px;
          height: 37px;
          display: flex;
          border-radius: 5px;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
          font-size: 20px;
     }
     .indicator_letter{
          border-radius: 100%;
          background-color: greenyellow;
          width: 22px;
          height: 22px;
     }


     .buttons_letter {
          margin: auto;
          width: 140px;
          height: 120px;
          display: flex;
          flex-wrap: wrap;
          gap: 5px 5px;
     }
     .button_letter{
          width: 66px;
          height: 66px;
          border-radius: 5px;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          align-content: center;
          flex-direction: column;
          font-size: 20px;
          gap: 10px;
     }
     .button_letter_indicator{
          width: 16px;
          height: 3px;
          border-radius: 5px;
          background-color: greenyellow;
     }
     
     
     
     
     
     
     .display_light_right{
          margin: 10px auto;
          width: 48px;
          height: 37px;
          display: flex;
          border-radius: 5px;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
          font-size: 20px;
     }
     .buttons_light{
          margin: 29px auto 0;
          width: 211px;
          height: 139px;
          display: flex;
          flex-wrap: wrap;
          gap: 2px 2px;
     }
     .button_light{
          width: 69px;
          height: 45px;
          border-radius: 5px;
          background-color: greenyellow;
     }
     
     
     
     .displays_math{
          margin: 10px auto 0;
          width: 197px;
          height: 37px;
          display: flex;
          gap: 0px 12px;
          font-size: 14px;
     
     }
     .display_math_left{
          width: 64px;
          height: 37px;
          display: flex;
          border-radius: 5px;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
     }
     .display_math_center{
          width: 48px;
          height: 37px;
          display: flex;
          border-radius: 5px;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
     }
     .indicator_math{
          width: 64px;
          height: 37px;
          border-radius: 5px;
          background-color: greenyellow;
     }
     
     
     
     .buttons_math{ 
     margin: 30px auto 0;
     width: 171px;
     height: 121px;
     display: flex;               
     flex-wrap: wrap;
     gap: 9px 9px;
     }
     .button_math{
          width: 36px;
          height: 36px;
          border-radius: 5px;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
     }
     
     
     
     
     
     
     
     .frame_memory{
          margin: 10px auto 0;
          width: 196px;
          height: 169px;
          display: flex;
          gap: 0px 16px;
     }
     .left_memory{
          margin-top: 48px;
          width: 146px;
          height: 139px;
          display: flex;
          gap: 21px 0;
          flex-direction: column;
     }
     .display_memory{
          width: 146px;
          height: 88px;
          display: flex;
          border-radius: 5px;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
          font-size: 42px;
     }
     .buttons_memory{
          width: 146px;
          height: 47px;
          display: flex;
          gap: 0 8px;
          justify-content: space-between;
          font-size: 20px;
     }
     .button_memory{
          width: 30px;
          height: 47px;
          border-radius: 5px;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
     }
     .right_memory{
          margin-top: 15px;
          width: 35px;
          height: 170px;
          display: flex;
          gap: 10px 0;
          flex-direction: column;
          align-items: center;
     }
     .indicator_memory{
          width: 22px;
          height: 22px;
          border-radius: 100%;
          background-color: greenyellow;
     }
     .indicators_memory{
          width: 35px;
          height: 139px;
          border-radius: 5px;
          background-color: #8247FF;
          display: flex;
          gap: 11px 0px;
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }
     .indicator_memory_right{
          width: 17px;
          height: 11px;
          border-radius: 5px;
          background-color: greenyellow;
     }
     
     
     
     
     
     
     
     
     .display_tumblr{
          width: 48px;
          height: 37px;
          margin: 10px auto;
          display: flex;
          border-radius: 5px;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
          font-size: 20px;
     }
     .buttons_tumblr{
          width: 98px;
          height: 98px;
          margin: 10px auto;
          border-radius: 100%;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
     }
     .buttons_tumblr_arrow{
          background:  url(../images/arrow.svg) no-repeat;
          background-size: contain;
          width: 53px;
          height: 35px;
          margin-right: -18px;
     }
     .indicators_tumblr{
          margin: -3px auto 0;
          width: 173px;
          height: 99px;
          display: flex;
          gap: 0px 10px;
          justify-content: center;
     }
     .indicators_tumblr_pair{
          width: 20px;
          height: 49px;
          display: flex;
          gap: 10px 0px;
          flex-direction: column;
     }
     .indicator_tumblr{
          width: 20px;
          height: 20px;
          border-radius: 100%;
          background-color: greenyellow;
     }
     
     
     
     
     
     
     
     .display_logic{
          margin: 28px 27px 0;
          width: 180px;
          height: 22px;
          display: flex;
          justify-content: flex-end;
          gap: 0px 8px;
          align-items: flex-start;
     }
     .indicator_logic {
          border-radius: 100%;
          background-color: greenyellow;
          width: 22px;
          height: 22px;
     }
     
     .buttons_logic{
     width: 191px;
     height: 109px;
     margin: 15px auto;
     display: flex;
     gap: 0 8px;
     flex-direction: column;
     }
     
     .buttons_logic_row{
          width: 191px;
          height: 46px;
          display: flex;
          gap: 0px 8px;
          color: white;
     }
     .buttons_logic_column{
          width: 32px;
          height: 47px;
          display: flex;
          gap: 2px 0px;
          flex-direction: column;
          align-items: center;
     }
     .button_logic{
          width: 32px;
          height: 32px;
          border-radius: 5px;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
     }
     .arrow_logic{
          position: relative;
          right: 18px;
          top: 0px;
          transform: rotate(90deg);
     }
     
     .indicator_logic_square{
          border-radius: 5px;
          background-color: greenyellow;
          width: 25px;
          height: 6px;
     }
     .button_logic_approve{
          width: 67px;
          height: 20px;
          margin: 5px auto;
          border-radius: 5px;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
     }
     
     
     
     
     .main_maze{
          width: 145px;
          height: 145px;
          margin: 23px auto;
          padding: 15px;
          border-radius: 5px;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 13px 12px;
          flex-wrap: wrap;
     }
     .cube_maze{
          width: 14px;
          height: 14px;
          border-radius: .5px;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
     }
     .serial_number{
          width: 234px;
          height: 48px;
          background-color: #FF833D;
          display: flex;
          border-radius: 10px;
          color: white;
          justify-content: center;
          align-items: center;
          font-size: 36px;
          margin-bottom: 25px;
     }
         
     