@media only screen and (min-width: 320px) and (max-width: 768px) {

     body {
          margin: auto;
          padding: 0;
          background: #EAEAEA;
          font-family: 'VCR_OSD_MONO';
          width: 87.760vw;
          user-select: none;
     }
     
     ol{
          margin-left: 5.458vw;
          margin-top: 6.771vw;
          margin-right: 11.472vw;
          list-style-type: decimal;
     }
     li{
          margin-bottom: 1em;
          line-height: 1.2em;
     }
     table{
          margin: 6.250vw;
          width: 20.833vw;
          border-collapse: collapse;
     }
     td,th{
          padding: 0.911vw;
          text-align: center;
     }
     img{
          width: 7.246vw;
     }
     .russian{
          font-family: 'Retron2000';
          font-size: 2.118vw;
     }
     .logo{
          width: 7.883vw;
     }
     .start-screen{
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #fff;
          z-index: 9999;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          overflow: hidden;
     }
     .start{
          display: flex;
          background-color: #FF833D;
          border-radius: 15px;
          color: white;
          width: 300px;
          height: 150px;
          font-family: 'Retron2000';
          font-size: 3.506vw;
          justify-content: center;
          align-items: center;
          transition: all .2s ease-in-out;
     }
     /* Выранвивание по центру */
     .main {
          margin: auto;
     }
     .hi{
          margin-left: 5.458vw;
          margin-right: 9.472vw;
          margin-top: 6.771vw;
          line-height: 1.2em;
     }
     /* Верхние индикаторы */
     .container_top {
          margin: 5.729vw auto 0;
          width: auto;
          height: 6.389vw;
          display: flex;
          flex-wrap: nowrap;
          gap: 0 2.604vw;
          justify-content: center;
     }
     .square {
          width: 6.389vw;
          height: 6.389vw;
          border-radius: 1.693vw;
          display: inline-block;
          vertical-align: top;
          position: relative;
     }
     
     /* Индикаторы разминирования */
     #one ,#two{
          background-color: #adff2f;
     }
         
     #three, #four, #five, #six, #seven, #eight, #nine, #ten{
          background-color: red;
     }
     
     /* Контейнер головоломок */
     .container_main {
          margin-top: 4.297vw;
          width: auto;
          height: 364.193vw;
          display: flex;
          flex-wrap: wrap;
          gap: 4.297vw;
          justify-content: center;
          align-content: flex-start;
     }
     
     /* Основы головоломок */
     .block{
          width: 41.667vw;
          height: 41.667vw;
          display: inline-block;
          vertical-align: top;
          position: relative;
          background-color: #FF833D;
          border-radius: 3.255vw;
          outline: 0.521vw solid #8247FF;
          outline-offset: -0.521vw;
     }
     
     /* Контейнер подсказок */
     .container_hint {
          margin-top: 50.297vw;
          min-width: 87.631vw;
          height: auto;
          position: absolute;
          display: flex;
          flex-wrap: wrap;
          gap: 4.297vw;
          justify-content: flex-end;
          align-content: flex-start;
          flex-direction: column;
     }
     .container_hint.two {
          margin-top: 20.417vw;
     }
     .container_hint.three {
          margin-top: 50.417vw;
          gap: 2.23vw;
          justify-content: flex-start;
     }
     .container_hint.four {
          margin-top: 52.813vw;
          gap: 2.23vw;
          justify-content: flex-start;
     }
     /* Основы подсказок */
     .upper{
          margin-top: -45.5vw;
     }
     .down{margin-top: 48vw;}
     .hint{
          min-width: 87.431vw;
          min-height: 87.431vw;
          max-width: 32.361vw;
          max-height: 32.361vw;
          display: flex;
          vertical-align: top;
          position: relative;
          opacity: 0%;
          background-color: #8247FF;
          border-radius: 3.255vw;
          color: white;
          font-family: 'Retron2000';
          font-size: 2.557vw;
          flex-wrap: wrap;
          justify-content: center;
          align-items: stretch;
     
     }
     .transparent{
          opacity: 1;
     }
     .opacity {
          opacity: 0;
     }

     /* Анаграмма */
     .display_anagram{
          margin: 4.427vw auto;
          width: 35.417vw;
          height: 11.458vw;
          display: flex;
          gap: 0 4.167vw;
          font-size: 3.255vw;
     }
     .indicator_anagram {
          border-radius: 100%;
          background-color: red;
          width: 4.036vw;
          height: 4.036vw;
     }
     .indicator_anagram.correct {
          border-radius: 100%;
          background-color: greenyellow;
          width: 4.036vw;
          height: 4.036vw;
     }
     .display_anagram_right {
          width: 27.083vw;
          height: 11.458vw;
          display: flex;
          flex-direction: column;
          gap: 0.911vw;
     }
     .display_anagram_top{
          width: 27.083vw;
          height: 3.906vw;
          display: flex;
          border-radius: 0.911vw;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
     }
     .display_anagram_bottom{
          width: 27.083vw;
          height: 3.906vw;
          display: flex;
          border-radius: 0.911vw;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
     }
     .buttons_anagram {
          margin: 3.906vw auto;
          width: 35.417vw;
          height: 16.927vw;
          display: flex;
          flex-wrap: wrap;
          gap: 1.563vw 1.563vw;
          font-size: 3.776vw;
     }
     .button_anagram, .delete_anagram, .check_anagram {
          width: 7.682vw;
          height: 7.682vw;
          border-radius: 0.911vw;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .2s ease-in-out;
     }
    
     
     



     /* Алфавит */
     .display_alphabet{
          margin: 4.427vw 24.938vw 0;
          width: 13.889vw;
          height: 4.036vw;
          display: flex;
          justify-content: flex-end;
          gap: 0 4.167vw;
     }
     .indicator_alphabet {
          border-radius: 100%;
          background-color: red;
          width: 4.036vw;
          height: 4.036vw;
     }
     .indicator_alphabet.lit-green {
          border-radius: 100%;
          background-color: greenyellow;
          width: 4.036vw;
          height: 4.036vw;
     }
     .indicator_alphabet.lit-red {
          border-radius: 100%;
          background-color: red;
          width: 4.036vw;
          height: 4.036vw;
     }
     .buttons_alphabet {
          margin: 3.255vw 4.427vw;
          width: 26.693vw;
          height: 26.693vw;
          display: flex;
          flex-wrap: wrap;
          gap: 1.172vw 1.172vw;
          font-size: 3.776vw;
     }   
     .button_alphabet {
          width: 12.630vw;
          height: 12.630vw;
          border-radius: 0.911vw;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 1.953vw;
          transition: all .2s ease-in-out;
     }
     
     .button_alphabet_indicator{
          width: 3.255vw;
          height: 0.651vw;
          margin-top: 0.911vw;
          border-radius: 0.911vw;
          background-color: gray;
     }
     .button_alphabet_indicator.lit-green{
          width: 3.255vw;
          height: 0.651vw;
          margin-top: 0.911vw;
          border-radius: 0.911vw;
          background-color: greenyellow;
     }
     .button_alphabet_indicator.lit-red{
          width: 3.255vw;
          height: 0.651vw;
          margin-top: 0.911vw;
          border-radius: 0.911vw;
          background-color: red;
     }
     
     
     


     /* Шифр Цезаря */
     .display_caesar{
          margin: 4.557vw auto 0;
          width: auto;
          height: 8.984vw;
          display: flex;
          justify-content: center;
          gap: 0 3.906vw;
          flex-direction: row-reverse;
          align-items: center;
     }
     .indicator_caesar {
          border-radius: 100%;
          background-color: red;
          width: 4.036vw;
          height: 4.036vw;
     }
     .display_caesar_right{
          width: 28.385vw;
          height: 8.984vw;
          display: flex;
          border-radius: 0.911vw;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
     }
     .buttons_caesar {
          margin: 2.995vw auto;
          width: 30.469vw;
          height: 22.656vw;
          display: flex;
          flex-wrap: wrap;
          gap: 1.432vw 1.432vw;
          font-size: 5.469vw;
     }
     .button_caesar{
          width: 6.510vw;
          height: 6.510vw;
          border-radius: 0.911vw;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .2s ease-in-out;
     }
     
     
     
     
     
     
     /* Шахматы */
     .display_chess{
          margin: 4.427vw auto 0;
          width: 35.807vw;
          height: 14.583vw;
          display: flex;
          justify-content: flex-end;
          gap: 0px 5.469vw;
          flex-direction: row-reverse;
          align-items: flex-start;
     }
     .indicator_chess {
          border-radius: 100%;
          background-color: greenyellow;
          width: 4.036vw;
          height: 4.036vw;
     }
     .display_chess_right{
          width: 26.302vw;
          height: 12.109vw;
          display: flex;
          border-radius: 0.911vw;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
     }
     .buttons_chess {
          margin: 7.031vw auto 0;
          width: 36.979vw;
          height: 9.245vw;
          display: flex;
          flex-wrap: wrap;
          gap: 3.255vw 3.255vw;
          font-size: 3.255vw;
     }
     .button_chess{
          width: 3.385vw;
          height: 3.385vw;
          border-radius: 0.911vw;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .2s ease-in-out;
     }    

     .indicators_chess{
          margin: 3.255vw auto;
          width: 34.635vw;
          height: 1.172vw;
          display: flex;
          flex-wrap: wrap;
          gap: 0 5.469vw;
     }
     .indicator_small_chess{
          border-radius: 100%;
          background-color: greenyellow;
          width: 1.172vw;
          height: 1.172vw;
     }
     
     
     



     /* Цвета */
     .display_color{
          margin: 4.427vw 3.906vw 0;
          width: 33.594vw;
          height: 10.807vw;
          display: flex;
          justify-content: flex-end;
          gap: 0px 6.510vw;
          flex-direction: row-reverse;
          align-items: flex-start;
     }
     .indicator_color {
          border-radius: 100%;
          background-color: red;
          width: 4.036vw;
          height: 4.036vw;
     }
     .display_color_right{
          width: 23.047vw;
          height: 9.896vw;
          display: flex;
          border-radius: 0.911vw;
          background-color: black;
          color: red;
          justify-content: center;
          align-items: center;
          font-size: 2.604vw;
     }
     .buttons_color {
          margin: 1.953vw auto 0;
          width: 38.411vw;
          height: 18.750vw;
          display: flex;
          flex-wrap: nowrap;
          gap: 0px 0.911vw;
          font-size: 3.776vw;
     }
     .button_color{
          width: 18.750vw;
          height: 18.750vw;
          border-radius: 0.911vw;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .2s ease-in-out;
     }
     
     
     



      /* Замок */
     .display_lock{
          margin: 3.906vw 7.943vw 0;
          width: 30.859vw;
          height: 25.391vw;
          display: flex;
          justify-content: flex-end;
          gap: 0px 1.432vw;
          flex-direction: row-reverse;
          align-items: flex-start;
     }
     .indicator_lock {
          border-radius: 100%;
          background-color: greenyellow;
          width: 4.036vw;
          height: 4.036vw;
     }
     
     .display_lock_right{
          width: 25.391vw;
          height: 25.391vw;
          display: flex;
          border-radius: 100%;
          background-color: #8247FF;
          justify-content: center;
          align-items: center;
     }
     .display_lock_right_center{
          width: 13.802vw;
          height: 13.802vw;
          display: flex;
          border-radius: 100%;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
          font-size: 7.031vw;
     }
     .buttons_lock {
          margin: 4.557vw auto 0;
          width: 37.760vw;
          height: 5.990vw;
          display: flex;
          flex-wrap: nowrap;
          gap: 0px 7.943vw;
     }
     
     .buttons_lock_left {
          margin: 0px auto 0px;
          width: 13.932vw;
          height: 5.990vw;
          display: flex;
          flex-wrap: nowrap;
          gap: 0px 1.563vw;
          font-size: 5.990vw;
     }
     .button_lock{
          width: 5.990vw;
          height: 5.990vw;
          border-radius: 0.911vw;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .2s ease-in-out;
     }
     .clicked{
          transition: all .2s ease-in-out;
          transform: scale(.9);
     }
     .button_lock_right{
          width: 15.755vw;
          height: 5.990vw;
          border-radius: 0.911vw;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3.255vw;
          transition: all .2s ease-in-out;
     }
     
     
     


     /* Незабудка */
     .buttons_forget{
          margin: 1.172vw auto 0;
          width: 38.021vw;
          height: 26.302vw;
          display: flex;
          flex-wrap: nowrap;
          gap: 0px 0;
          font-size: 3.776vw;
     }
     .buttons_forget_line{
          margin: 0 auto 0;
          width: 34.115vw;
          height: 26.302vw;
          display: flex;
          flex-wrap: wrap;
          gap: 1.172vw 1.172vw;
          align-items: flex-end;
     }
     .button_forget{
          width: 7.813vw;
          height: 7.813vw;
          border-radius: 0.911vw;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .2s ease-in-out;
     }
     .display_forget {
          width: 7.031vw;
          height: 7.031vw;
          border-radius: 0.911vw;
          background-color: black;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
     }
     .indicator_forget {
          border-radius: 100%;
          background-color: red;
          width: 4.036vw;
          height: 4.036vw;
     }
     .display_forget_right{
          margin: 1.521vw auto;
          width: 39.063vw;
          height: 11.068vw;
          display: flex;
          border-radius: 0.911vw;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
          font-size: 7.943vw;
     }
     
     
     
     

     /* Клавиатура */
     .display_keyboard{
          margin: 3.906vw auto 0;
          width: 37.847vw;
          height: 4.036vw;
          display: flex;
          justify-content: flex-end;
          gap: 0px 1.563vw;
          align-items: flex-start;
     }
     .indicator_keyboard {
          border-radius: 100%;
          background-color: greenyellow;
          width: 4.036vw;
          height: 4.036vw;
     }
     
     .buttons_keyboard {
          margin: 2.604vw 4.167vw 0;
          width: 27.083vw;
          height: 27.083vw;
          display: flex;
          flex-wrap: wrap;
          gap: 0.278vw 0.278vw;
     }
     .button_keyboard{
          width: 13.021vw;
          height: 13.021vw;
          border-radius: 0.911vw;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          align-content: center;
          flex-direction: column;
          transition: all .2s ease-in-out;
     }
     .button_keyboard_indicator{
          width: 3.255vw;
          height: 0.651vw;
          border-radius: 0.911vw;
          background-color: gray;
     }
     

     
     
     /* Заглушка */
     .display_letter{
          margin: 5.0vw 16.536vw 0;
          width: 22.656vw;
          height: 7.422vw;
          display: flex;
          justify-content: flex-end;
          gap: 0px 9.635vw;
          flex-direction: row-reverse;
          align-items: flex-start;
     }
     .display_letter_right{
          margin: -3.255vw auto;
          width: 9.115vw;
          height: 7.031vw;
          display: flex;
          border-radius: 0.911vw;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
          font-size: 3.776vw;
     }
     .indicator_letter{
          border-radius: 100%;
          background-color: greenyellow;
          width: 4.036vw;
          height: 4.036vw;
     }
     .buttons_letter {
          margin: auto;
          width: 26.693vw;
          height: 22.656vw;
          display: flex;
          flex-wrap: wrap;
          gap: 0.911vw 0.911vw;
     }
     .button_letter{
          width: 12.630vw;
          height: 12.630vw;
          border-radius: 0.911vw;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          align-content: center;
          flex-direction: column;
          font-size: 3.776vw;
          gap: 1.953vw;
          transition: all .2s ease-in-out;
     }
     .button_letter_indicator{
          width: 3.255vw;
          height: 0.651vw;
          border-radius: 0.911vw;
          background-color: grey;
     }
     
     
     
     
     /* Подсветка */
     .display_light_right{
          margin: 1.953vw auto;
          width: 9.245vw;
          height: 7.031vw;
          display: flex;
          border-radius: 0.911vw;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
          font-size: 3.776vw;
     }
     .buttons_light{
          margin: 4.469vw auto 0;
          width: 40.234vw;
          height: 26.432vw;
          display: flex;
          flex-wrap: wrap;
          gap: 0.391vw 0.391vw;
     }
     .button_light{
          width: 13.151vw;
          height: 8.594vw;
          border-radius: 0.911vw;
          background-color: black;
          transition: all .2s ease-in-out;
     }
     
     
     

     /* Математика */
     .displays_math{
          margin: 1.911vw auto 0;
          width: 37.500vw;
          height: 7.031vw;
          display: flex;
          gap: 0px 1.953vw;
          font-size: 2.604vw;
     
     }
     .display_math_left{
          width: 12.109vw;
          height: 7.031vw;
          display: flex;
          border-radius: 0.911vw;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
     }
     .display_math_center{
          width: 9.115vw;
          height: 7.031vw;
          display: flex;
          border-radius: 0.911vw;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
     }
     .indicator_math{
          width: 12.109vw;
          height: 7.031vw;
          border-radius: 0.911vw;
          background-color: red;
     }
     .buttons_math{ 
     margin: 4.083vw auto 0;
     width: 34.422vw;
     height: 23.047vw;
     display: flex;               
     flex-wrap: wrap;
     gap: 1.563vw 1.563vw;
     }
     .button_math{
          width: 7.031vw;
          height: 7.031vw;
          border-radius: 0.911vw;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3.776vw;
          transition: all .2s ease-in-out;
     }
     
     
     
     
     
     
     /* Memory */
     .frame_memory{
          margin: 1.953vw auto 0;
          width: 37.370vw;
          height: 32.292vw;
          display: flex;
          gap: 0px 2.734vw;
     }
     .left_memory{
          margin-top: 9.245vw;
          width: 27.995vw;
          height: 26.563vw;
          display: flex;
          gap: 0.651vw 0;
          flex-direction: column;
     }
     .display_memory{
          width: 27.995vw;
          height: 16.927vw;
          display: flex;
          border-radius: 0.911vw;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
          font-size: 14.583vw;
     }
     .buttons_memory{
          width: 27.995vw;
          height: 8.984vw;
          display: flex;
          gap: 0 1.563vw;
          justify-content: space-between;
          font-size: 3.776vw;
     }
     .button_memory{
          width: 5.859vw;
          height: 8.984vw;
          border-radius: 0.911vw;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          transition: all .2s ease-in-out;
     }
     .right_memory{
          margin-top: 3.255vw;
          width: 6.771vw;
          height: 32.292vw;
          display: flex;
          gap: 1.953vw 0;
          flex-direction: column;
          align-items: center;
     }
     .indicator_memory{
          width: 4.036vw;
          height: 4.036vw;
          border-radius: 100%;
          background-color: red;
     }
     .indicator_memory.lit{
          width: 4.036vw;
          height: 4.036vw;
          border-radius: 100%;
          background-color: greenyellow;
     }
     .indicators_memory{
          width: 6.771vw;
          height: 26.563vw;
          border-radius: 0.911vw;
          background-color: #8247FF;
          display: flex;
          gap: 0.764vw 0px;
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }
     .indicator_memory_right{
          width: 3.255vw;
          height: 2.083vw;
          border-radius: 0.911vw;
          background-color: red;
     }
     .indicator_memory_right.lit{
          width: 3.255vw;
          height: 2.083vw;
          border-radius: 0.911vw;
          background-color: greenyellow;
     }
     
     
     
     
     
     /* Тумблер */
     .display_tumblr{
          width: 9.245vw;
          height: 7.031vw;
          margin: 1.953vw auto;
          display: flex;
          border-radius: 0.911vw;
          background-color: black;
          color: white;
          justify-content: center;
          align-items: center;
          font-size: 3.776vw;
     }
     .buttons_tumblr{
          width: 18.750vw;
          height: 18.750vw;
          margin: 1.953vw auto;
          border-radius: 100%;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
     }
     .buttons_tumblr_arrow{
          background:  url(../images/arrow.svg) no-repeat;
          background-size: contain;
          width: 3.681vw;
          height: 2.771vw;
          margin-right: -1.469vw;
     }
     .indicators_tumblr{
          margin: -0.651vw auto 0;
          width: 32.813vw;
          height: 18.880vw;
          display: flex;
          gap: 0px 1.953vw;
          justify-content: center;
     }
     .indicators_tumblr_pair{
          width: 3.776vw;
          height: 9.245vw;
          display: flex;
          gap: 1.953vw 0px;
          flex-direction: column;
     }
     .indicator_tumblr{
          width: 3.776vw;
          height: 3.776vw;
          border-radius: 100%;
          background-color: greenyellow;
     }
     
     
     
     
     /* Логика */
     .display_logic{
          margin: 3.906vw 35.026vw 0;
          width: 4.036vw;
          height: 4.036vw;
          display: flex;
          justify-content: flex-end;
          gap: 0px 1.563vw;
          align-items: flex-start;
     }
     .indicator_logic {
          border-radius: 100%;
          background-color: greenyellow;
          width: 4.036vw;
          height: 4.036vw;
     }
     .buttons_logic{
     width: 36.979vw;
     height: 20.833vw;
     margin: 3.255vw auto;
     display: flex;
     gap: 0 1.563vw;
     flex-direction: column;
     }
     .buttons_logic_row{
          width: 36.979vw;
          height: 8.984vw;
          display: flex;
          gap: 0px 1.563vw;
          color: white;
     }
     .buttons_logic_column{
          width: 5.990vw;
          height: 8.984vw;
          display: flex;
          gap: 0.391vw 0px;
          flex-direction: column;
          align-items: center;
     }
     .button_logic{
          width: 5.990vw;
          height: 5.990vw;
          border-radius: 0.911vw;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .2s ease-in-out;
     }
     .arrow_logic{
          position: relative;
          top: 0px;
          right: 3.05vw;
          font-size: 10px;
          transform: rotate(90deg);
     }
     .indicator_logic_square{
          border-radius: 0.911vw;
          background-color: greenyellow;
          width: 4.167vw;
          height: 1.172vw;
     }
     .button_logic_approve{
          width: 12.760vw;
          height: 3.776vw;
          margin: 0.911vw auto;
          border-radius: 0.911vw;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2.214vw;
          transition: all .2s ease-in-out;
     }
     
     
     

     /* Лабиринт */
     .main_maze{
          width: 30.069000000000003vw;
          height: 30.069000000000003vw;
          margin: 2.4269999999999996vw auto;
          padding: 3.255vw;
          border-radius: 0.911vw;
          background-color: #8247FF;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 2.823vw;
          flex-wrap: wrap;
     }
     .cube_maze{
          width: 2.214vw;
          height: 2.214vw;
          border-radius: 0.115vw;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
     }
     .serial_number{
          width: 89.389vw;
          height: 6.306vw;
          background-color: #FF833D;
          display: flex;
          gap: 18.056vw;
          border-radius: 1.953vw;
          color: white;
          justify-content: center;
          align-items: center;
          margin-bottom: 4.167vw;
     }
}